:root {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}

.app { 
    background-color: rgba(46, 45, 45,1);
    height: 100vh; 
}

.form_btn { color: rgb(100, 99, 99);}

form:hover .form_btn { color: rgb(158, 155, 155); }

/* MovieCard */

.movie { width: 200px; }

.movie:hover { width: 205px; }

.movie_cover  {
    color: transparent;
    height: 100%;
    width: 100%;
}

.movie:hover .movie_cover {
    color: red;
    background-color: rgba(0, 0, 0, 0.815);
}

.movie_details { display: none; }

.movie:hover .movie_details {
    display: block;
    background-color: rgba(0,0,0,0.6);
    color: red;
    z-index: 1;
}