:root {
    width: 100%;
    padding: 0;
    margin: 0;
    
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.app { 
    background-color: rgba(46, 45, 45,1);
    min-height: 100vh; 
}

.app_title {
    background: -webkit-gradient(linear, left top, right top, from(#00BCD400), color-stop(0%, #2E2D2D), color-stop(50%, #A00707), to(#2E2D2D));
    background: -o-linear-gradient(left, #00BCD400 0%, #2E2D2D 0%, #A00707 50%, #2E2D2D 100%);
    background: linear-gradient(90deg, #00BCD400 0%, #2E2D2D 0%, #A00707 50%, #2E2D2D 100%);
}

.search_btn { color: rgb(100, 99, 99);}

.search:hover .search_btn { color: rgb(158, 155, 155); }

/* MovieCard */

.movie { 
    width: 200px;

    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    -webkit-transition: width 0.7s;
    -o-transition: width 0.7s;
    transition: width 0.7s; 
}

.movie:hover { width: 205px; }

.movie_cover  {
    color: transparent;
    height: 100%;
    width: 100%;
}

.movie:hover .movie_cover {
    color: red;
    background-color: rgba(0, 0, 0, 0.596);
}

.movie_details { display: none; }

.movie:hover .movie_details {
    display: block;
    background-color: rgba(0,0,0,0.6);
    color: red;
    z-index: 1;
}